<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>欢迎页</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/myscript.js}"></script>
</head>
<body>
  <div th:replace="common/model :: header('123')">什么都没有</div>
  <div th:object="${person}">
      <table>
          <tr>
              <td>编码</td>
              <td th:text="*{id}"></td>
          </tr>
          <tr>
              <td>姓名</td>
              <td th:text="*{name}"></td>
          </tr>
          <tr>
              <td>性别</td>
              <td th:text="*{six}"></td>
          </tr>
          <tr>
              <td>年龄</td>
              <td th:text="*{age}"></td>
          </tr>
      </table>
  </div>
  <div th:insert="common/model :: footer" title="猜测一下">什么都没有</div>
</body>
</html>