<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form action="register">
    <table>
        <tr>
            <td>姓名</td>
            <td><input name="name" th:value="${user?.name}"/></td>
        </tr>
        <tr>
            <td>性别</td>
            <td>
                <input type="radio" name = 'six' th:checked="${user?.six}" value="1"/>
                <input type="radio" name = 'six' th:checked="!${user?.six}" value="0"/>

            </td>
        </tr>
        <tr>
            <td>年龄</td>
            <td><input name="age" th:value="${user?.age}"/></td>
        </tr>
    </table>
    <button>提交</button>
</form>

</body>
</html>